.root
{
	-fx-background-color: #999999;
}

.layoutMain
{
	
}

.layoutSala
{
	-fx-background-color: #DDDDDD;
}

.layoutKuchnia
{
	-fx-background-color: #6CE0C5;
}

.layoutKuchnia .button
{
	-fx-background-color: #D85D92;
}

.layoutEdycjaMenu
{
	-fx-background-color: RED;
}

.layoutEdycjaMenu .button
{
	//-fx-background-color: BLUE;
}

.layoutKuchniaInfo
{
	-fx-background-color: #BBBBBB;
	-fx-spacing:10;
	-fx-padding:10;
}

.layoutKuchniaInfo .button
{
	-fx-background-color: #999999;
}

.layoutEdycjaMenu
{
	-fx-background-color: #F0F091;
}

.layoutSala .button
{
	-fx-background-color: #87CEFA;
}

.menu-bar
{
	-fx-background-color: #888888;
}

.menu .label
{
	-fx-text-fill: white;
}

.menu-item .label
{
	-fx-text-fill: black;
}